body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.index-footer,
.index-columns {
  color: #000000;
  background-color: #eeeeee;
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.connection {
  color: #444444;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.site-navigation,
.user-navigation,
.pictures,
.statistic,
.settings,
.settings2,
.button-features-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.product a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.button-style1,
.button-features-list {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button-style2 {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #00ca74;
}

.button-style3 {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #efc84a
}

.button-style4 {
  font: inherit;
  width: 100%;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.button-style1:hover,
.button-style1:focus {
  background-color: #e74246;
}

.button-style1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-style2:hover,
.button-style2:focus {
  background-color: #00bc6c;
}

.button-style2:active {
  background-color: #00aa62 rgba(255, 255, 255, 0.3);
}

.button-style3:hover,
.button-style3:focus {
  background-color: #eab534;
}

.button-style3:active {
  background-color: #e5a722;
}

.features-list,
.shop {
  list-style: none;
  color: #000000;

  background-color: #eeeeee;

  background-position: 0 0;
  background-repeat: repeat;
}

.down {
  font-size: 36px;

}

.down-p {
  font-size: 16px;
  line-height: 22px;
}

.product,
.number,
.list {
  list-style: none;
}

.info {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #000000;
  background-color: #eeeeee;
  line-height: 22px;
}

.info-text {
  line-height: 18px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.shop {
  font-size: 55px;
  line-height: 55px;
  margin: 0px;
}

.services {
  display: block;
  font-size: 24px;
  color: #000000;
  line-height: 30px;
  margin: 17px 0 0;
}

.style-cap {
  line-height: 24px;

}

.services-style {
  color: #283136;
  font-size: 45px;
  line-height: 45px;
}

.statistic-accuracy {
  color: #283136;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  margin-top: 0;
}

.services-style-info {

  font-size: 16px;
  line-height: 22px;
}

.servise-info {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 30px;
  margin-top: 44px;
  font-weight: 700;
}

.servise-info-style {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);

  line-height: 1.5;
  text-align: left;

  left: 115px;
  top: 1368.312px;
  width: 431px;
  height: 160px;
  z-index: 40;
}

.box {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.number {
  color: #000000;

}

.number:hover,
.number:focus,
  {
  color: #000000;
  background-color: #eeeeee;
}

.button-number {
  color: #000000;
  background-color: #eeeeee;
}

.button-number,
.button-number,
.button-number {
  color: #000000;
  background-color: #ffffff;
}

.cap {
  display: block;
  font-size: 55px;
  color: #000000;
  line-height: 55px;
  margin-bottom: 25px;
}

.site-navigation a:active {
  color: #000000;
}

.button-style1 {
  font: weight 700;
}

.cost {
  font-size: 18px;
  line-height: 30px;
}

.grid,
.features {
  color: #000000
}

.settings,
.settings2 {
  color: #283136;
}

.button7 {
  color: rgba(0, 0, 0, 0.302);
  font-size: 14px;
  line-height: 18px;
  width: 50px;
  height: 50px;
  color: #000;
  font-weight: 700;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.next-button {
  width: 260px;
  border-radius: 3px;
  text-transform: uppercase;
}

.nexts {
  box-sizing: border-box;
  border: 3px solid #dbdbdb;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.302);
  font-size: 14px;
  line-height: 18px;
  width: 50px;
  height: 50px;
  color: #000;
  font-weight: 700;
  border-radius: 3px;
}

.button:hover,
.button:focus,
.button:active {
  color: rgb(0, 0, 0);
}

.button-so {
  color: #000000;
}

.button-so,
.button-so,
.button-so {
  color: #000000;
}


.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 12px;
}

.main-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0;
  width: 160px;

}

.main-header-logo img {
  width: 100%;
  height: auto;
}

.main-header {
  background-color: #eeeeee
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 484px;

  padding: 0;

}

.style-site {
  margin-right: 47px;
  padding-top: 12px;
}

.user-navigation {
  padding-top: 12px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

}

.seven {
  padding-top: 63px;
  padding-bottom: 60px;
  border-bottom: 2px solid #eee;
}

.list {
  display: flex;

  padding-left: 0;
}

.list-seven {
  width: 300px;
  justify-content: space-between;
  margin-right: 100px;

}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.left {
  width: 670px;
  padding-top: 36px;
}

.right {
  width: 360px;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: center top;
}

.statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: -20px 0 0px;
}

.statistic li {
  width: 120px;
}

.procent {
  font-size: 28px;
  line-height: 24px;
}

.accuracy {
  margin: 30px 20px 60px;
  text-transform: uppercase;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-size: 0;
  list-style: none;
  border-bottom: 2px solid #eee;
  margin-bottom: 80px;
}

.pic {
  display: flex;
  align-items: center;
  min-height: 180px;
  width: 25%;
  justify-content: center;
  position: relative;
}

.pic::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 53px;
  background-color: #eeeeee;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pic:nth-child(4n)::after {
  display: none;
}



.pic a {
  opacity: 0.5;
}

.pic a:hover,
.pic a:focus {
  opacity: 1;
}

.map {
  background-image: url(../img/map.png);
  min-height: 400px;
  padding: 20px 0;
  background-size: cover;

}

.map-info {
  top: 50px;
  width: 200px;
  height: 208px;
  padding: 45px 50px;
  background-color: #ffffff;
  margin: 30px 30px;

}

.banner {
  position: relative;
  background-color: #eeeeee
}

.catalog-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 55px;
}

.catalog-info {
  width: 260px;
}

.elements {
  width: auto;
}

.settings,
.settings2 {
  border: none;
  padding: 0;
  margin: 0 0 30px;
}

.filter {
  justify-content: flex-start;
  display: flex;
  line-height: 1.15;
  margin-bottom: 55px;
  padding-top: 30px;
  align-items: center;

}

.filter-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2px 0 0;
  list-style: none;
}

.product {
  width: 100%;


  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-1::before {
  content: "";
  position: relative;
  display: block;
  width: 360px;
  padding-top: 40px;
  background-image: url(../img/browser.png);
  background-repeat: no-repeat;
  background-position: top;
}

.map-info::after {
  content: "";
  position: relative;
  display: block;
  width: 360px;
  padding-top: 40px;
  background-image: url(../img/map-marker.svg);
  background-repeat: no-repeat;
  background-position: top;
}


.product-1 {
  margin-right: 40px;
  position: relative;
  width: 360px;

  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-position: top;
}

.product-1:nth-child(2n) {
  margin-right: 0;
}

.number {
  display: flex;
}

.number-style {
  margin-right: 10px;

}

.filter-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 2px 0 0;
  list-style: none;
}

.filter-a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  width: 350px;
  text-transform: uppercase;

}

.features-list {
  margin: 0px;
}

.down-top {}

.social-title {
  align-items: center;
  min-height: 217px;
  justify-content: flex-start;
}

.social-title,
.social-click {
  display: flex;
}

.social {
  align-items: center;

  justify-content: flex-start;
}

.social-click {
  justify-content: space-between;
  width: 260px;
  padding: 0;
  margin: 0 140px 0 0;
  font-size: 0;
  list-style: none;
}

.social__item--vk {
  background-image: url(../img/vk-icon.png)
}

.social__item--fb {
  background-image: url(../img/fb-icon.png)
}

.social__item--ig {
  background-image: url(../img/insta-icon.png)
}

.social__item--vk:hover {
  background-color: #e74246;
}

.social__item--fb:hover {
  background-color: #e74246;
}

.social__item--ig:hover {
  background-color: #e74246;
}
}

.social__item--vk:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
}

.social__item--ig:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
}

.social__item--fb:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.shop {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 55px;
  line-height: 55px;
  font-weight: 400;
  text-align: center;
}

.xxx {
  border: none;
}

.slider-item {
  display: none;
}


.button-style1 {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-style1:hover,
.button-style1:focus {
  background-color: #e74246;
}

.button-style1:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cap {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}

.style-cap {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;


}

.slider-controls {
  position: relative;

}

.slider-controls label::after {
  content: "";

  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  background: #ffffff;
  ;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 60px 0 80px 0;
}



.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 5%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.features-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.features-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.features-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}



.filter-item {

  padding: 0;
  margin: 0 0 60px;
  border: none;


  width: 260px;

}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend,
.features,
.grid {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls {
  position: relative;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}


.note {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  box-sizing: border-box;
  width: 960px;
  padding: 80px 100px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.basket-link {
  background-image: url("../img/cart-icon.svg");
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left;
}

.container-al {
  display: flex;
  padding: 55px 0;
  justify-content: space-between;

}

.container-banner {
  width: 1160px;
  margin: 0 auto;
  padding: 55px 0 105px;
  text-align: center;
}

.container3 {
  width: 760px;


}

.container2 {
  width: 600 px;

  padding: 0 20px;
}

.list-info {
  max-width: 533px;

}

.product-1 img {
  width: 100%;
  height: auto;
}

.fill {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.slow {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 23px;
  height: 22px;
  background: rgba(255, 255, 255, 0);
  padding: 0;

}

.snow {
  padding: 0;
  margin: 0 0 40px;
  color: #000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  text-align: left;
}

.pop-up {
  display: none;
  position: fixed;
  z-index: 100;
  top: calc(50% - 301px);
  left: calc(50% - 480px);
  box-sizing: border-box;
  width: 960px;
  padding: 80px 100px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.pop-up__form-field input {
  box-sizing: border-box;
  min-height: 54px;
  padding: 16px;
  border: 2px solid #d7dcde;
}

.pop-up__form-field textarea {
  padding: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #b1b1b1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  border: 2px solid #d7dcde;
}

.pop-up__form-field {
  width: 360px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}

.pop-up__form-field--text {
  width: 100%;
}

.pop-up__form-field label {
  padding-bottom: 10px;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.pop-up__field-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-toggle-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 23px;
  height: 22px;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  font-size: 0;
}

.button-style12 {
  display: block;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-style12:hover,
.button-style12:focus {
  background-color: #e74246;
}

.button-style12:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.info-text {

  padding: 0 30px;
}

.one,
.two,
.free {
  width: 160px;
  padding: 17px 0;
}

.servise-info-style li {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 21px;
}

.checkbox-label {
  display: block;
  padding-left: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  cursor: pointer;
}

.checkbox-label::before {

  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  Background-size: contain;
  Background-repeat: no-repeat;
}

.checkbox-control:checked+.checkbox-label::before {
  background-image: url(../img/checkbox-on.svg);

}

.checkbox-control:checked:disabled+.checkbox-label {
  opacity: 0.4;
}

.settings-text {
  margin-left: 9px;
}

.checkbox-rub {
  display: block;
  padding-left: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  cursor: pointer;
}

.checkbox-rub::before {

  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 23px;
  height: 23px;

  background-image: url(../img/radio-off.svg);
  Background-size: contain;
  Background-repeat: no-repeat;
}

.radio-control:checked+.checkbox-rub::before {
  background-image: url(../img/radio-on.svg);
}
.style-cap1{
  margin-top: 16px;
  margin-bottom: 34px;
  margin-left: 1px;
  margin-right: 1px;
}

.pic img {
 width:100%;
 height: auto;
}
