body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.index-footer,
.index-columns,
.button-style1 {
  color: #444444;

  background-color: #eeeeee;

  background-position: 0 0;
  background-repeat: repeat;
}
a {
  text-decoration: none;

}
.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}
.connection {color: #444444;

  background-color: #ffffff;

  background-position: 0 0;
  background-repeat: repeat;}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color:#000000
}

.site-navigation,
.user-navigation,
.pictures,
.statistic,
.settings,
.settings2,
.button-features-list
 {
  list-style: none;
}
.site-navigation a,
.user-navigation a,
.product a{
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}
.button-style1,
.button-features-list {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;}
.button-style2 {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #00ca74;
    border: none;}
    .button-style3 {
      font: inherit;

      text-align: center;
      color: #ffffff;
      vertical-align: middle;
      text-transform: uppercase;

      background-color: #efc84a;
      border: none;}
  .button-style4{
    font: inherit;

    text-align: center;
    color: #444444;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #eeeeee;
    border: none;}
.button-style1:hover,
.button-style1:focus
 {
 background-color: #e74246;
 }
 .button-style1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  }
.button-style2:hover,
.button-style2:focus
 {
 background-color: #00bc6c;
 }

 .button-style2:active{
   background-color: #00aa62
   rgba(255, 255, 255, 0.3);
  }

 .button-style3:hover,
 .button-style3:focus
  {
  background-color: #eab534;
  }
  .button-style3:active {
    background-color: #e5a722;
  }
/*b {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 30px;
}
*/
.features-list,
.shop {
  list-style: none;
  color: #000000;

  background-color: #eeeeee;

  background-position: 0 0;
  background-repeat: repeat;
}

.down {
  font-size: 36px;

}
.down-p {
  font-size: 16px;
  line-height: 22px;
}
.product,
.number,
.list
{
  list-style: none;
}

.info{
  color: #000000;
  background-color: #eeeeee;
  line-height: 22px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.cap,
.shop{
  font-size: 55px;
  line-height: 24px;
}
.services{
  font-size: 24px;
  }
 .style-cap {
  line-height: 24px;
 }
